
{{!-- <section id="sectionAbout" class="panel1">
        <div class="containter">
            <div class="row no-padding">
            </div>
        </div>
    </section> --}}

<section id="section2" class="panel2">
    <div class="container">
    <div class="row">
        <div class="col align-self-end no-padding">
              <object data="images/orange2.svg" type="image/svg+xml" class="svg-graphic" id="orange1">
                </object>
        </div>
    </div>
    <div class="row">
        <div class="clo-4"></div>
        <div class="col-4 no-padding">
            {{!-- <img src="images/logoBg.svg" id="mainImgBg"> --}}
              <img src="images/img.png" alt="me" id="mainImg">
        </div>
    </div>    
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 no-padding" id="mainInfo">
            <h2>Ryan Sun</h2>
            <h3>Ryan is a graphic designer with experience in digital and print design. He is passionate about creating beautiful artwork.
He also works as a freelance video producer. He enjoys every process of video production. Especially the post production, which allows him to turn everything into a fabulous piece of art. 
<br>
<br>Aside from work, Ryan loves movies and music. He plays saxophone and guitar during leisure time and cooks delicious food for his friends and family.
</h3>
            <a id="viewBth" class="btn" href="/portfolio" role="button">VIEW MY WORK</a>
        </div>
    </div>
    </div>
</section>

