

<section id="sectionForm" class="panel2">
    <div class="container">
        <div class="row">
        <div class="col align-self-start no-padding">
              <a href="/contact">
              <object data="images/button1.svg" type="image/svg+xml" class="svg-graphic" id="buttonSvg" style="max-width: 40%;">
                </object>
            </a>    
        </div>
    </div>    
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 align-self-center no-padding">
        <h2 id="contactText">LET’S GET IN TOUCH</h2>
        <p id="contactP">Have any new projects or ideas? Feel free to fill out the form and contact me. <br>I’ll get back to you within 24 hours.
    <br>
Or if you prefer direct email: <a id="mailing" href="mailto:ryansunportfolio@gmail.com ">ryansunportfolio@gmail.com </a>
</p>
        </div>
        
    </div>    

        <div class="row">
        <div class="col-12 align-center no-padding" >
{{ msg }}
 <form action="send" method="POST" id="contactForm">
        <h1 class="d-none">Contact</h1>
        
        <label for="name-field">Name<span style="color: red;">*</span></label>
        <input id="name-field" name="name" type="text" placeholder="Your Name">

        <label for="email-field">Email<span style="color: red;">*</span></label>
        <input id="email-field" name="email" type="email" placeholder="Your Email Address">

        <label for="subject-field">Subject</label>
        <input id="subject-field" name="subject" type="text" placeholder="Subject">

        <label for="message-field">Message<span style="color: red;">*</span></label>
        <textarea id="message-field" name="Your message" placeholder="Your Message"></textarea>
</div>
    </div>
    <div class="col-2"></div>
    <div class="col-8">
        <button type="submit" id="contactBth">Submit</button>
        </div>
    </form>
    
    </div>
</section>

 


