ul {
    margin: 0;
    padding: 0;

    li { 
        display: inline;
        
        a { text-decoration: none; }
    }

}

footer {
    padding-bottom: 4%;
    text-align: center;
    background-color: #F98410;
    color: $footer-text-color;
}

#footerIcon img{
    max-width: 4%;
    margin: 5% 1% 0 1%;
    filter: grayscale(0);
}

#footerIcon img:hover {
    
    filter: grayscale(50);
}

#footer p {
    margin-top: 3%;
}


@media screen and (min-width: 20em) {
  
    #footer img {
        max-width: 7%;
    }
}
        